# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit cache (optional)
.streamlit/

# Excel temp files
*.xlsx~
